
.jumbotron{
  align : right;
  text-align: left;
  margin-top: 50px;
  font: Trajan;
  background-color: #0f151561;
  margin-left: 600px;
  margin-right: 50px;
  margin-bottom: 100px;
  color: white;
  background-size: auto;
}

body{
  background: url('/static/images/admin2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
