.jumbotron{
  text-align: center;
  margin-top: 200px;
  margin-left: 300px;
  margin-right: 300PX;
  margin-bottom: 100PX;
  background-color: #ffeb3b9e;

}


element.style {
    font-family: -webkit-pictograph;
}
body{
  background-image: url('/static/images/9.jpg/');
  background-repeat: no-repeat;
  background-size: cover;

}
