body{
  background: url('/static/images/index_background.jpg');
  background-size: cover;
  background-color: lightblue;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */

}

.jumbotron{
  text-align: center;
  margin-top: 100px;
  background-color: #ff471a;
}
