<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About US</title>
  </head>
  <body>
    <div class="container">
    <h1>About Us</h1>
    <h3> It's simply a job application tool that allows you to apply for jobs and connect with potential employers. Research job portals carefully before you agree to pay fees to use their job-hunting and job-application services. There are many free job portals, including those on commercial websites and private-company sites, so there's no need to pay for services. However, some job-portal agencies charge employers to list their job openings. </h3>
    <h4>Job Portal is a platform that joins recruiters and the job seekers to complete their goals and requirements. Recruiters look for a right candidate who has the right qualification to handle the responsibilities efficiently. ... Sending job applications through employment portals is a quicker way to get the right candidate</h4>
    </div>
  </body>
</html>
